body {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100%;
    width: 100%;
    font-family: cursive;
    background-image: url(/static/image/background.jpg);
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffa812;
    border-radius: 8px;
    font-family: cursive;
    color: #db8b00;
    transition: .2s ease-in-out;
}

.shine-button:before {
    content: "";
    background: linear-gradient(90deg, #ffc30f, #ffcf40);
    height: 70px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.shine-button:hover {
    background: #ffa812;
    color: #fff;
}

.shine-button:hover:before {
    left: 250px;
    /*top: 70px;*/
    transition: .5s ease-in-out;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #ffa812; /* Цвет линии для остальных браузеров */
    background-color: #ffa812; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left:15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    color: #ffa812;
    font-family: cursive;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

